* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set width and height of body tag*/
body {
  width: 100vw;
  height: 100vh;
}

/* image container postion change and center */
.image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* set display property inline instead of block */
.image,
button {
  display: block;
}

/* set width and height of image tag */
.image {
  width: 50vw;
  height: 60vh;
}

/* set button porperty */
button {
  width: 50vw;
  height: 10vh;
  font-size: 1.2vw;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 0vw;
  border: .1vw solid #64B8EB;
  background-image: linear-gradient(115deg, #ddba4f, #78C935);
}

/* set hover effect on button */
button:hover {
  width: 50vw;
  height: 10vh;
  font-size: 1.2vw;
  text-align: center;
  color: #C05C09;
  cursor: pointer;
  border-radius: 0vw;
  border: .1vw solid #64B8EB;
  background-image: linear-gradient(118deg, #efc74eb1, #78c935b8);

}